* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
//mode__toggle
:root {
  --main-dark: #03396a;
  --grey-1: #e4e4e4;
  --background-grey: #f3f3f3;
  --main-color: #ff6500;
  --border-color: #e4e4e4;
  --zebra-color: white;
  --zebra2-color: #eedcdc;
  --header-color: #cdcdcd;
  --table-grey-text: #828282;
  --white: white;
  --background-white: white;
  --main-text-color: black;
  --header-text-color: black;
  --table-background-color: #ffffff;
  --logo-url: url("https://raw.githubusercontent.com/WendellLiu/alphacamp-frontend-course/master/data-table/static/icons/logo.svg");
  --darkmode-toggle-url: url("https://raw.githubusercontent.com/WendellLiu/alphacamp-frontend-course/master/data-table/static/icons/darkmode-on.svg");
  --shadow: 0 0 2px 2px rgba(0, 0, 0, 0.2);
}

[data-theme="dark"] {
  --main-dark: #3a3a3a;
  --grey-1: #e4e4e4;
  --background-grey: #202020;
  --main-color: #a5a09d;
  --border-color: #e4e4e4;
  --zebra-color: #564040;
  --zebra2-color: #575757;
  --header-color: #2e2e2e;
  --table-grey-text: rgba(255, 255, 255, 37%);
  --white: white;
  --background-white: #6b6b6b;
  --main-text-color: white;
  --header-text-color: #aaaaaa;
  --table-background-color: #3a3a3a;
  --logo-url: url("https://raw.githubusercontent.com/WendellLiu/alphacamp-frontend-course/master/data-table/static/icons/logo-dark.svg");
  --darkmode-toggle-url: url("https://raw.githubusercontent.com/WendellLiu/alphacamp-frontend-course/master/data-table/static/icons/darkmode-off.svg");
  --shadow: 0 0 2px 2px rgba(250, 241, 241, 0.943);
}

//共用樣式
ul li {
  list-style-type: none;
}

table {
  border: none;
  border-spacing: 0;
  border-collapse: collapse;
}

th,
td {
  text-align: initial;
}

a,
a:hover,
a:focus {
  text-decoration: none;
}

.active {
  background-color: white;
}

html {
  font-size: 14px;
  height: 100%;
  color: var(--main-text-color);
}

body {
  height: 100%;
  min-height: 480px;
  background: var(--background-grey);
}

span {
  color: var(--main-text-color);
}

input {
  width: 15px;
  cursor: pointer;
}
img {
  cursor: pointer;
}

.hidden {
  display: none;
}

.scrollbar {
  &::-webkit-scrollbar {
    width: 6px;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 3px;
    background-color: rgba(0, 0, 0, 0.1);
  }
}

.group {
  color: var(--table-grey-text);
}

.sidebar__darkmode__input {
  display: none;
}

.checked {
  // background-color: orange !important;
  background-color: var(--main-color) !important;
}

// main
.main-app {
  display: flex;
}
// sidebar
.sidebar {
  min-height: 400px;
  width: 100px;
  display: flex;
  flex-direction: column;
  background-color: var(--main-dark);
  .logo {
    min-height: 64px;
    background: var(--logo-url);
    background-size: 100% 100%;
    margin-bottom: 83px;
  }
  .icon-wrapper {
    height: 100%;
    .icons {
      height: 80%;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      .icon-item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 40px;
        height: 40px;
        .sidebar__darkmode__label {
          background: var(--darkmode-toggle-url);
          background-size: 100% 100%;
          cursor: pointer;
          height: 100%;
          width: 100%;
        }
        &:active {
          background-color: var(--white);
        }
      }
    }
  }
}

.sidebar__darkmode__input {
  display: none;
}

// table-title
.right-content {
  flex: 1;
  height: 100%;
  background: var(--background-grey);
  .right-container {
    width: 90%;
    margin: 50px auto;
    height: 100%;
    h1 {
      font-size: 48px;
      line-height: 56.25px;
    }
    .table-panel {
      height: 80vh;
      display: flex;
      flex-direction: column;
      margin-top: 20px;
      box-shadow: var(--shadow);
      border-radius: 5px;
      .table-title {
        width: 100%;
        height: 60px;
        display: grid;
        grid-template-columns: 50px 80px repeat(7, 1fr);
        justify-items: center;
        align-items: center;
        text-align: center;
        border-radius: 5px;
        background: var(--header-color);
        color: var(--header-text-color);
        border-bottom: 1px solid var(--border-color);
        & span {
          position: relative;
          font-weight: 600;
          & img {
            width: 20px;
            position: absolute;
            margin-left: 2px;
          }
        }
      }
    }
  }
}

// table-content
.table-content {
  height: 600px;
  overflow: scroll;
  .table-content-wrapper {
    height: 60px;
    display: grid;
    grid-template-columns: 50px 80px repeat(7, 1fr);
    justify-items: center;
    align-items: center;
    text-align: center;
    position: relative;
    border-bottom: 1px solid var(--border-color);
    &:nth-child(odd) {
      background: var(--zebra-color);
    }
    &:nth-child(even) {
      background: var(--zebra2-color);
    }
    // &:checked {
    //   background-color: var(--main-color);
    // }
    &:hover {
      background-color: var(--main-color);
    }
  }
}

// menu
.menu-content {
  position: absolute;
  top: 40px;
  right: 60px;
  width: 110px;
  font-size: 15px;
  background-color: var(--background-white);
  border: 1px solid var(--border-color);
  z-index: 1;
  .menu-item {
    width: 100%;
    display: flex;
    align-items: center;
    cursor: pointer;
    height: 40px;
    padding: 10px;
    .menu-img {
      width: 25px;
      margin-right: 8px;
    }
  }
}
